body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

section {
    background: rgb(38, 8, 70);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

h1 { 

    font-size: 40px;
}

p {
  font-size: 20px;

}

img {
    height: 200px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 50px;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

.chamada {
    background: rgb(100,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

